* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", serif;
  --primary-color: #ffb900;
}

html {
  /* chuyển 1 rem = 16px thành 1 rem = 10px */
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định: 16px */
body {
  font-size: 1.6rem;
  font-family: "Poppins", serif;
}

/* =========================== */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.btn {
  display: inline-block;
  padding: 0px 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background-color: #171100;
}

.btn:hover {
  opacity: 0.8;
}

.main-content {
  width: 1170px;
  margin: 0 auto;

  /* 
    nếu không có dòng dưới thì width luôn cố định 1170px
    nên khi kéo web nhỏ lại thì sẽ bị che mất ndung
    
    nếu có thì khi kéo nhỏ lại thì width cũng sẽ được giảm
    theo để cố định được 136px cho 2 bên --> k mất nội dung 
  */
  max-width: calc(100% - 136px);
  /* chừa 136px cho 2 bên trang web: mỗi bên là 68px */

  /* 
    The problem with the <div> above occurs when the browser window
    is smaller than the width of the element (500px). 
    The browser then adds a horizontal scrollbar to the page.
    
    In this situation, using max-width will improve the browser's handling
    of small windows.

    dùng max-width, thì khi browser window nhỏ hơn width thì width sẽ co lại
    khi kéo ra thì sẽ to tới max-width. Khi không dùng max-width thì khi browser
    window nhỏ hơn width thì sẽ xuất hiện scrollbar và làm mất ndung
  */

  /*
    nếu dùng cả width và max-width trong cùng 1 phần tử
    mà giá trị của width lại lớn hơn max-width thì max-width sẽ được sử dụng
    khi width < max-width thì width sẽ được dùng
  */
}

/* =============header============== */

.header {
  background-color: #fffcf4;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  /* 
    phần padding(từ text lên trên của header đang là 36px) 
    nên chúng ta muốn sticky nó còn 8px thì chúng ta cần cho padding
    bị mất đi 28px --> -28px
  */
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  /* margin với flex-item */
  /* đẩy toàn bộ sang bên phải */
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  font-size: 1.6rem;
  color: #5f5b53;
  /* background-color: aqua; */
  padding: 0px 21px;
  /* 
    dùng margin vẫn dc, nhma dùng padding thì tăng trải nghiệm
    cho người dùng hơn
  */
  position: relative;
}
.nav li.active a,
.nav a:hover {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
  position: absolute;
  left: 21px;
  top: 22px;
}

.header .btn-sign-up {
  min-width: 144px;
  /* 
  The min-width property defines the minimum width of an element.
  If the content is smaller than the minimum width, the minimum width will be applied.
  If the content is larger than the minimum width, the min-width property has no effect.
  Note: This prevents the value of the width property from becoming smaller than min-width.
  */

  /* 
    min-width: khối div sẽ thu nhỏ theo browser window cho tới khi bằng min-width
    nếu browser window nhỏ hơn min-width thì sẽ xuất hiện scroll bar
  */
}

.header .action {
  /* 
  từ btn-sign-up cách reviews là 70px, nhưng ở thẻ reviews đã có 
  sẵn 21px padding nên cần thêm 49px
  */
  margin-left: 49px;
}

/* ============================= */
.hero {
  padding: 57px 0px 64px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .media-block .hero-summary {
  position: absolute;
  top: 393px;
  left: 300px;
  border-radius: 12px;
  background: #fff;
  width: 270px;
  padding: 28px 24px;
}

.hero .hero-summary .item + .item {
  margin-top: 22px;
}

.hero .hero-summary .item {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.hero .hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.hero-summary .item:first-of-type .icon {
  background-color: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
  background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background-color: #ebeaff;
}

.hero-summary .item .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 185%;
}

.hero-summary .item .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166%;
}

/* -------------------------------------------- */
.hero .content-block {
  width: 52%;
  /* margin-left: auto; */
  padding-left: 130px;
  padding-top: 46px;
}

.content-block .heading {
  width: 470px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: -1.16px;
  margin-bottom: 28px;
}

.content-block .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 167%;
}

.cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.btn-see-course {
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background-color: var(--primary-color);
}

.watch-video {
  display: flex;
  align-items: center;
  background: transparent;
  margin-left: 28px;
  /* border: none; */
}

.watch-video .icon {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}

.watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%;
}

.desc-student-course {
  margin-top: 8px;
}

.desc-student-course strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 123%;
  margin-right: 15px;
}

.desc-student-course strong:nth-child(2) {
  margin-left: 28px;
}

/* ======================================== */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.66; /* 166.667% */
  width: 458px;
  margin-top: 16px;
}

.popular .popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .controls {
  width: 98px;
  height: 40px;
  display: flex;
  gap: 18px;
}

.popular .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  color: var(--primary-color);
  /* currentColor sẽ dựa vào color */
  border: 1px solid var(--primary-color);
}

.popular .control-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.popular .course-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.popular .course-list .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-list .course-item:hover {
  border-radius: 12px;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .info {
  padding: 16px 22px 22px;
}

.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

.popular .course-item .rating {
  display: flex;
  align-items: center;
}
.info .rating .star {
  width: 18px;
  height: 18px;
}

.info .rating .value {
  color: #fea31b;
  line-height: 1.75; /* 175% */
  margin-left: 6px;
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
}

.popular .course-item .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.course-item .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

.course-item .foot .btn-book {
  /* width: 118px;
  height: 50px; */
  border-radius: 25px;
  background: #171100;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.course-item .foot .btn-book:hover {
  background: #ffb900;
}
